<div  data-ng-controller="MessengerCtrl"  class="messenger-area-wrapper">
  <div class="messenger-column">
    <div class="messenger-area">
      <div class="messenger">
        <div class="header">
          Bate papo
        <button type="button" class="remove btn btn-default btn-xs pull-right">
          <span class="glyphicon glyphicon-wrench"></span>
        </button>
        </div>
        <ul class="nav nav-list friendlist contact-list">
          <li class="contact" data-ng-repeat="contact in contacts | filter:searchFriend"  >
            <a data-ng-click="startTalk(contact.id)" >
              <span avatar="contact.avatarId"></span>
              {{contact.name}}
            </a>
          </li>
        </ul>
        <div class="search-area">
          <input type="search" data-ng-model="searchFriend" placeholder="Search ...">
        </div>
      </div>
      <div class="messenger-off">
        <span class="ui-icon ui-icon-person"></span>
        <span class="text">Bate papo</span>
        <button type="button" class="remove btn btn-default btn-xs pull-right">
          <span class="glyphicon glyphicon-wrench"></span>
        </button>
      </div>
    </div>
  </div>

  <div data-ng-repeat="contact in contacts">
    <div data-ng-include="templates.messengerBox.url"></div>
  </div>
</div>