<div class="messenger-column">
  <div class="messenger-chat-area">
    <div class="contact-chat">
      <div class="header">
        {{contact.name}}
      </div>
      <div class="messages">
        <div data-ng-repeat="message in contact.messages" class="contact">
          <img class="avatar-small" src="/images/avatars/user-avatar.png">
          <span class="message">{{message.content}}</span>
        </div>
      </div>
      <div class="footer">
        <form>
          <div class="input-group">
            <input data-ng-model="contact.newMessage" type="text" name="newMessage" value="">
            <input data-ng-model="contact.id" type="hidden" name="toId" value="{{contact.id}}">
            <span class="input-group-btn">
              <button data-ng-click="send(contact.newMessage, contact.id)" class="btn btn-xs btn-default" type="button">Send</button>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
    </div>
  </div>
</div>
